<!DOCTYPE html>
<html lang="en">
<link rel="stylesheet" href="./css/bootswatchMateria.css" />
<link rel="stylesheet" href="./css/styles.css" />

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Prodigy</title>
</head>

<body>
    <header>
        <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
            <a class="navbar-brand" href="/">Prodigy</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

            <div class="collapse navbar-collapse" id="navbarColor01">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item active">
                        <a class="nav-link" href="/">Home<span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/app">App</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/login">Log in</a>
                    </li>
                </ul>

            </div>
        </nav>
        <main>
            <section class="main-content mt-5">
                <div class="container">
                    <div class="content">
                        <div class="row w-100">
                            <div class="col-6">
                                <div class="content-img"></div>
                            </div>
                            <div class="col-6">
                                <div class="content-text">
                                    <h3>Prodigy is an app that is being designed for language instructors to make their life easier.</h3>
                                    <h4>This version is for demo purposes only and it is still under development.</h4>
                                    <p>Thanks for checking it out</p>
                                    <a class="btn btn-primary" href="/app">Check it out</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </main>
</body>

</html>