.content-img {
    height: 100%;
    background: url("img/content-img.jpg");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
}

.content-text {
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    height: 100%;
    color: darkgray;
    width: 80%;
    margin: 0 auto;
}

.content {
    height: 70vh;
    border-radius: 10px;
    box-shadow: 0 0 10px -2px grey;
    overflow: hidden;
    display: flex;
}