@import '~@fullcalendar/core/main.css';
@import '~@fullcalendar/daygrid/main.css';
@import "~@fullcalendar/timegrid/main.css";
.calendarParent {
    height: 100vh;
}

.loading {
    position: absolute;
    left: 40%;
    top: 45%;
}