{
    "presets": [
      "@babel/react",
      "@babel/env"
      
    ],
    "plugins": [
      "transform-class-properties",
      "@babel/plugin-transform-async-to-generator",
      "@babel/plugin-transform-runtime"
    ]
  }